p {
    padding:30px;
    background-image: url(Velvette\ background.png);
    height: 100px;
    width: 500px;
    background-repeat:no-repeat;
}
h2 {
    margin:40px
}
a:link {
    color:rgb(252, 251, 251)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:rgb(20, 15, 87);
}
li {
    float:left;
}
li a {
    display:block;
    text-align:center;
    padding:15px;
    text-decoration:none;
}
li a:hover {
    background-color:rgb(226, 10, 10);
}