p {
    padding:30px;
    background-image: url(Velvette\ background.png);
    height: 100px;
    width: 500px;
    background-repeat:no-repeat;
}
h2 {
    margin:40px
}
a:link {
    color:rgb(0, 0, 0)
}